// Backgrounds
$ember-power-select-selected-background: lighten(
  $global-secondary-background,
  25%
) !default;
$ember-power-select-highlighted-background: lighten(
  $ember-power-select-selected-background,
  25%
) !default;
$ember-power-select-multiple-selection-background-color: $ember-power-select-selected-background !default;

// Texts
$ember-power-select-highlighted-color: #ffffff !default;
$ember-power-select-multiple-selection-color: #ffffff !default;

.ember-power-select-option[aria-selected="true"] {
  color: $ember-power-select-highlighted-color;
}

// Borders
$ember-power-select-focus-outline: 0 !default;
$ember-power-select-border-color: $global-border !default;
$ember-power-select-default-border-radius: 0 !default;
$ember-power-select-multiple-option-border-color: $ember-power-select-border-color !default;

// Other
$ember-power-select-line-height: 38px !default;
$ember-power-select-multiple-option-padding: 0 8px !default;
$ember-power-select-multiple-option-line-height: 32px !default;

@import "ember-power-select";
