version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "12:00"
      timezone: "Europe/Zurich"
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "12:00"
      timezone: "Europe/Zurich"
    open-pull-requests-limit: 10
    versioning-strategy: increase-if-necessary
    ignore:
      # graphql-tools v5+ breaks generic mocking
      - dependency-name: graphql-tools
        versions:
          - ">= 5"
      - dependency-name: graphql
        versions:
          - ">= 16"
