.inquiry-state {
  width: 20px;

  &::before {
    content: "";
    background-color: #c00;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    padding: 0;
    margin-left: 5px;
  }
}
