# unconventional js
**/blueprints/*/files/

# compiled output
**/dist/

# misc
**/coverage/
!.*
.*/

# ember-try
**/.node_modules.ember-try/

# release-it
CHANGELOG.md

# pnpm
pnpm-lock.yaml
pnpm-workspace.yaml
