version: "3"
services:
  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=caluma
      - POSTGRES_PASSWORD=caluma
    volumes:
      - dbdata:/var/lib/postgresql/data

  caluma:
    image: ghcr.io/projectcaluma/caluma:dev
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - ENV=docker
      - LANGUAGE_CODE=en
      - LANGUAGES=en
      - MINIO_STORAGE_ENDPOINT=localhost:9000

  minio:
    image: minio/minio:latest
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
    environment:
      - MINIO_ACCESS_KEY=minio
      - MINIO_SECRET_KEY=minio123
      - MINIO_STORAGE_AUTO_CREATE_MEDIA_BUCKET=True
    command: server data

volumes:
  dbdata:
  minio_data:
