version: "3"
services:
  db:
    image: postgres:9.4@sha256:9bc190100ed0ff2977652f34061668972007b458114bbf32f67d1bf1f0f31904
    environment:
      - POSTGRES_USER=caluma
      - POSTGRES_PASSWORD=caluma
    volumes:
      - dbdata:/var/lib/postgresql/data

  caluma:
    image: projectcaluma/caluma:latest@sha256:6a75a0bdc7382aea7354955ffd357cd7b0e4e754661558803bc85c73d03abb33
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - ENV=docker
      #- MINIO_STORAGE_ENDPOINT=localhost:9000

  minio:
      image: minio/minio:latest@sha256:cbc9c493329c63add79a0fab1d5a311c43155f7c1ca831a63aecccecb5e1b732
      volumes:
        - minio_data:/data
      ports:
        - "9000:9000"
      environment:
        - MINIO_ACCESS_KEY=minio
        - MINIO_SECRET_KEY=minio123
        - MINIO_STORAGE_AUTO_CREATE_MEDIA_BUCKET=True
      command: server data

volumes:
  dbdata:
  minio_data: