version: "3"
services:
  db:
    image: postgres:9.4@sha256:a0559513628b83b2a25332c8c2641e7863ff2337a714e71aa033e0b1dffe29fc
    environment:
      - POSTGRES_USER=caluma
      - POSTGRES_PASSWORD=caluma
    volumes:
      - dbdata:/var/lib/postgresql/data

  caluma:
    image: projectcaluma/caluma:latest@sha256:1390c7e42767f0f688e72695297e16e83d28d8f69b0520d18abe8452356ee18e
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - ENV=docker
      #- MINIO_STORAGE_ENDPOINT=localhost:9000

  minio:
      image: minio/minio:latest@sha256:244c711462a69303c0aa4f8d7943ba8b36dd55246e29da44c6653e39eaa42e70
      volumes:
        - minio_data:/data
      ports:
        - "9000:9000"
      environment:
        - MINIO_ACCESS_KEY=minio
        - MINIO_SECRET_KEY=minio123
        - MINIO_STORAGE_AUTO_CREATE_MEDIA_BUCKET=True
      command: server data

volumes:
  dbdata:
  minio_data: