<span class="uk-flex uk-flex-middle">
  <span class="uk-width-auto uk-margin-small-right uk-text-bold">
    {{question.slug}}
  </span>

  <span class="uk-width-expand uk-margin-small-right uk-text-small uk-text-muted uk-text-truncate">{{question.label}}</span>

  {{uk-badge label=question.type class='uk-width-auto'}}
</span>
