@import "cf-field";

.cfb-prefixed {
  display: flex;

  &-slug {
    line-height: 40px;
    padding-right: 10px;
    white-space: nowrap;
  }
}

.jexl-textarea textarea {
  font-family: monospace;
}

.pika-single {
  z-index: 1;
}
