.cfb-pointer {
  cursor: pointer;
}

.cfb-loading-dots > span {
  --cfb-loading-dots-delay: 0;

  animation-name: cfb-loading-dots-animation;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-delay: calc(var(--cfb-loading-dots-delay) * 150ms);
}

@keyframes cfb-loading-dots-animation {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
