<button type="button" class="uk-icon-button" uk-icon="info"></button>

<div uk-drop="pos: bottom-justify; boundary: .uk-form-controls; boundary-align: true">
  <div class="uk-card uk-card-body uk-card-default">
    {{markdown-to-html text}}
  </div>
</div>