<button
  type="button"
  class="uk-icon-button"
  uk-icon="info"
  {{action (mut showModal) true}}
></button>

{{#uk-modal
  visible=showModal
  stack=true
  on-hide=(action (mut showModal) false)
as |modal|}}
  {{#modal.body}}
    {{markdown-to-html text openLinksInNewWindow=true}}
  {{/modal.body}}
{{/uk-modal}}
