<span class="uk-text-bold">
  {{field.question.label}}
</span>

{{#if field.optional}}
  <span class="uk-margin-small-left uk-text-muted uk-text-lowercase uk-text-normal">({{t "caluma.form.optional"}})</span>
{{/if}}
