@use "sass:color";

$icon-size: 0.8rem !default;

.cf-navigation {
  &__item {
    > a {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__icon {
      flex-shrink: 0;
      position: relative;
      height: $icon-size;
      width: $icon-size;
      color: color.adjust($global-border, $lightness: -40%);
      border: 1px solid color.adjust($global-border, $lightness: -10%);
      transition:
        color 500ms ease,
        border 500ms ease;

      &::before {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: $icon-size * 0.8;
      }

      &--readonly {
        opacity: 0.6;
      }

      &--in-progress::before {
        content: "?";
      }

      &--valid::before {
        content: "✓";
      }

      &--invalid::before {
        content: "×";
      }
    }
  }
}

.cf-navigation__item__icon--compare-modified,
.cf-navigation__item__icon--in-progress.cf-navigation__item__icon--dirty {
  color: color.adjust($global-warning-background, $lightness: -20%);
  border-color: color.adjust($global-warning-background, $lightness: 10%);
}

.cf-navigation__item__icon--valid.cf-navigation__item__icon--dirty {
  color: color.adjust($global-success-background, $lightness: -20%);
  border-color: color.adjust($global-success-background, $lightness: 10%);
}

.cf-navigation__item__icon--invalid.cf-navigation__item__icon--dirty {
  color: color.adjust($global-danger-background, $lightness: -20%);
  border-color: color.adjust($global-danger-background, $lightness: 10%);
}
