<ul class="uk-tab uk-tab-left">
  {{#each fields as |field|}}
    <li>
      {{#link-to "nested.detail" field.answer.value.id}}
        <div class="uk-flex uk-flex-between uk-flex-middle">
          <div>{{field.question.label}}</div>
          {{#with field.childDocument.state as |s|}}
            <span
              class="uk-flex-none camac-nav-module-icon camac-nav-module-icon-{{s}}">
            </span>
          {{/with}}
        </div>
      {{/link-to}}
      <ul class="uk-tab uk-tab-left uk-margin-left uk-margin-remove-vertical">
        {{#each field.navSubFields as |subField|}}
          <li>
            {{#link-to "nested.detail" subField.answer.value.id}}
              <div class="uk-flex uk-flex-between uk-flex-middle">
                <div>{{subField.question.label}}</div>
                {{#with subField.childDocument.state as |s|}}
                  <span
                    class="uk-flex-none camac-nav-module-icon camac-nav-module-icon-{{s}}">
                  </span>
                {{/with}}
              </div>
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>