{{#link-to (query-params displayedForm=treeItem.item.slug)}}
  {{treeItem.item.label}}
  <span class="cf-navigation__item__icon cf-navigation__item__icon--{{treeItem.state}}"></span>
{{/link-to}}

{{#if treeItem.children}}
  <ul class="uk-tab uk-tab-left uk-margin-left">
    {{#each treeItem.children as |childTreeItem|}}
      {{cf-navigation-item treeItem=childTreeItem}}
    {{/each}}
  </ul>
{{/if}}