{{component labelComponent}}

<div class="uk-form-controls">
  {{uk-toggle-switch
    value=value
    size=size
    name=name
    on-toggle=(action "toggle")
  }}
</div>

{{component hintComponent}}
{{component errorComponent}}