{{component labelComponent}}

<div class="uk-form-controls">
  {{uk-toggle-switch
    value=boolValue
    size=size
    name=name
    on-toggle=(action 'toggle')
  }}
</div>

{{component hintComponent}}
{{component errorComponent}}
