{{! template-lint-disable no-inline-styles }}
{{~#if hasBlock~}}
  {{~yield~}}
{{~else~}}
  {{~t "caluma.form-builder.global.loading"~}}
{{~/if~}}
{{~#each (range 0 count) as |i|~}}
  <span style={{html-safe (concat "--cfb-loading-dots-delay: " i ";")}}>.</span>
{{~/each~}}
