{{#each (reverse (take maxItems (reverse navigation.entries))) as |entry i|}}
  <li
    class="uk-flex uk-flex-middle {{if (eq (add i 1) navigation.entries.length) "uk-disabled"}}"
  >
    <a
      href="#"
      class="uk-text-large uk-text-truncate cfb-navigation__item__link"
      {{action "navigate" entry.link}}
    >
      {{entry.title}}
    </a>
  </li>
{{/each}}
