<div class="uk-grid">
  <div class="uk-width-expand">

    <div class="uk-width-1-1" uk-form-custom="target: true">

      <input type="file" onchange={{action "save"}}>

      <input 
        class="uk-input" 
        type="text" 
        placeholder={{placeholder}} 
        readonly>

    </div>

  </div>

  {{#if downloadUrl}}
    <div class="uk-width-auto">

      {{#uk-button on-click=(action "download")}}
        {{uk-icon "download"}}
      {{/uk-button}}

    </div>
  {{/if}}

</div>