<div 
  class="uk-width-1-1" 
  uk-form-custom="target: true"
  data-test-file-upload>

  <input type="file" onchange={{action "save"}}>

  <input 
    class="uk-input" 
    type="text" 
    placeholder={{placeholder}} 
    readonly>

</div>

{{#if (and downloadUrl downloadName)}}
  {{#uk-button color="link" on-click=(action "download")}}
    {{downloadName}}
  {{/uk-button}}
{{/if}}