@import "../ca-uikit-powerselect";

.sortable-item.is-dropping,
.sortable-item.is-dragging {
  z-index: 10;
}

.multiline-data {
  white-space: pre-line;
  line-height: normal;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
