<h1>Nested</h1>

<div class="uk-padding">
  <div uk-grid>
    <div class="uk-width-1-1 uk-width-1-3@m">
      {{cf-navigation documentId=model}}
    </div>

    <div class="uk-width-1-1 uk-width-2-3@m">
      {{outlet}}
    </div>
  </div>
</div>