.cfb-form-editor__question-list__item__required {
  transform: translate(0.15rem, -0.15rem);
  height: 0.7rem;
  width: 0.7rem;
  border: 0.1rem solid $global-background;
  background: $global-danger-background;
  border-radius: 50%;
}
