name: Deploy

on:
  push:
    branches:
      - main
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

env:
  NODE_VERSION: 18

concurrency:
  group: deploy
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install

      - name: Deploy to Github Pages
        run: pnpm --filter ember-caluma ember deploy production
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
          ADDON_DOCS_UPDATE_LATEST: "true"
