name: Release

on: workflow_dispatch

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    if: github.event.ref == 'refs/heads/beta' || github.event.ref == 'refs/heads/main'

    strategy:
      max-parallel: 1
      matrix:
        workspace:
          # Testing requires no other packages but is required in every package
          - "@projectcaluma/ember-testing"
          # Core is required in all packages but testing
          - "@projectcaluma/ember-core"
          # Form is required in form-builder and workflow
          - "@projectcaluma/ember-form"
          # Form builder is not required anywhere
          - "@projectcaluma/ember-form-builder"
          # Workflow is a required as devDependency in form which will be
          # updated later in the update only job
          - "@projectcaluma/ember-workflow"

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.ref }}
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
      - uses: actions/setup-node@v2

      - uses: actions/cache@v2
        with:
          path: node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn-${{ hashFiles('yarn.lock') }}
            yarn-

      - name: Install dependencies
        run: yarn install

      - name: Update cross dependencies
        run: yarn workspace ${{ matrix.workspace }} node --experimental-json-modules ../../bin/update-cross-dependencies.mjs

      - name: Release package
        run: yarn workspace ${{ matrix.workspace }} semantic-release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  release-beta-only:
    name: Release (beta only)
    runs-on: ubuntu-latest
    needs: [release]

    if: github.event.ref == 'refs/heads/beta'

    strategy:
      max-parallel: 1
      matrix:
        workspace:
          - "@projectcaluma/ember-distribution"

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.ref }}
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
      - uses: actions/setup-node@v2

      - uses: actions/cache@v2
        with:
          path: node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn-${{ hashFiles('yarn.lock') }}
            yarn-

      - name: Install dependencies
        run: yarn install

      - name: Update cross dependencies
        run: yarn workspace ${{ matrix.workspace }} node --experimental-json-modules ../../bin/update-cross-dependencies.mjs

      - name: Release package
        run: yarn workspace ${{ matrix.workspace }} semantic-release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  release-cross-dependency-updates-only:
    name: Release (cross dependency updates only)
    runs-on: ubuntu-latest
    needs: [release-beta-only]

    if: github.event.ref == 'refs/heads/beta' || github.event.ref == 'refs/heads/main'

    strategy:
      max-parallel: 1
      matrix:
        workspace:
          # Remove this line and add it to release or release-beta-only job if
          # the first beta or stable release is ready
          - "@projectcaluma/ember-analytics"
          # The devDependency to `@projectcaluma/ember-workflow` needs to be
          # updated since we have a circular dependency there
          - "@projectcaluma/ember-form"
          # The docs app needs to have all packages up-to-date
          - "ember-caluma"

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.ref }}
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
      - uses: actions/setup-node@v2

      - uses: actions/cache@v2
        with:
          path: node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn-${{ hashFiles('yarn.lock') }}
            yarn-

      - name: Install dependencies
        run: yarn install

      - name: Update cross dependencies
        run: yarn workspace ${{ matrix.workspace }} node --experimental-json-modules ../../bin/update-cross-dependencies.mjs
