name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  NODE_VERSION: 18

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: [ubuntu-latest]
    timeout-minutes: 5

    strategy:
      matrix:
        target: [js, hbs, css, prettier]

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Lint ${{ matrix.target }}
        run: pnpm lint:${{ matrix.target }}

  test:
    name: Tests
    needs: [lint]
    runs-on: [ubuntu-latest]
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        workspace:
          - "@projectcaluma/ember-analytics"
          - "@projectcaluma/ember-core"
          - "@projectcaluma/ember-distribution"
          - "@projectcaluma/ember-form"
          - "@projectcaluma/ember-form-builder"
          - "@projectcaluma/ember-testing"
          - "@projectcaluma/ember-workflow"

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Run tests
        run: pnpm --filter ${{ matrix.workspace }} test:ember
        env:
          COVERAGE: true

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v3
        with:
          gcov_ignore: "./packages/analytics/"

  test-floating:
    name: Floating Tests
    needs: [lint]
    runs-on: [ubuntu-latest]
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        workspace:
          - "@projectcaluma/ember-analytics"
          - "@projectcaluma/ember-core"
          - "@projectcaluma/ember-distribution"
          - "@projectcaluma/ember-form"
          - "@projectcaluma/ember-form-builder"
          - "@projectcaluma/ember-testing"
          - "@projectcaluma/ember-workflow"

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --no-lockfile

      - name: Run tests
        run: pnpm --filter ${{ matrix.workspace }} test:ember

  # test-browserstack:
  #   name: Browserstack Tests
  #   needs: [lint]
  #   runs-on: [ubuntu-latest]
  #   timeout-minutes: 10

  #   if: github.event_name == 'push'

  #   env:
  #     BROWSERSTACK_USERNAME: caluma1
  #     BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}

  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: pnpm/action-setup@v2
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version: ${{ env.NODE_VERSION }}
  #         cache: "pnpm"

  #     - name: Install dependencies
  #       run: pnpm install

  #     - name: Connect to Browserstack
  #       run: pnpm ember browserstack:connect

  #     - name: Run tests
  #       run: pnpm test:browserstack
  #       env:
  #         CI_JOB_ID: ${{ job.container.id }}
  #         BROWSERSTACK_LOCAL_IDENTIFIER: ${{ job.container.id }}

  #     - name: Collect test results
  #       run: pnpm ember browserstack:results

  #     - name: Disconnect from Browserstack
  #       run: pnpm ember browserstack:disconnect

  test-compatibility:
    name: Compatibility Tests
    needs: [lint]
    runs-on: [ubuntu-latest]
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        scenario:
          - ember-lts-4.8
          - ember-lts-4.4
          - ember-release
          - embroider-safe
          - embroider-optimized
        workspace:
          - "@projectcaluma/ember-analytics"
          - "@projectcaluma/ember-core"
          - "@projectcaluma/ember-distribution"
          - "@projectcaluma/ember-form"
          - "@projectcaluma/ember-form-builder"
          - "@projectcaluma/ember-testing"
          - "@projectcaluma/ember-workflow"

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Run tests
        run: pnpm --filter ${{ matrix.workspace }} ember try:one ${{ matrix.scenario }} --skip-cleanup
