name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  NODE_VERSION: 14

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: [ubuntu-latest]
    timeout-minutes: 5

    strategy:
      matrix:
        target: [js, hbs]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Get yarn cache directory path
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn-

      - name: Install dependencies
        run: yarn install

      - name: Lint ${{ matrix.target }}
        run: yarn lint:${{ matrix.target }}

  test:
    name: Tests
    needs: [lint]
    runs-on: [ubuntu-latest]
    timeout-minutes: 10

    strategy:
      matrix:
        workspace:
          - "@projectcaluma/ember-analytics"
          - "@projectcaluma/ember-core"
          - "@projectcaluma/ember-distribution"
          - "@projectcaluma/ember-form"
          - "@projectcaluma/ember-form-builder"
          - "@projectcaluma/ember-testing"
          - "@projectcaluma/ember-workflow"

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Get yarn cache directory path
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn-

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn workspace ${{ matrix.workspace }} test:ember
        env:
          COVERAGE: true

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v3

  test-floating:
    name: Floating Tests
    needs: [lint]
    runs-on: [ubuntu-latest]
    timeout-minutes: 10

    strategy:
      matrix:
        workspace:
          - "@projectcaluma/ember-analytics"
          - "@projectcaluma/ember-core"
          - "@projectcaluma/ember-distribution"
          - "@projectcaluma/ember-form"
          - "@projectcaluma/ember-form-builder"
          - "@projectcaluma/ember-testing"
          - "@projectcaluma/ember-workflow"

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: yarn install --no-lockfile

      - name: Run tests
        run: yarn workspace ${{ matrix.workspace }} test:ember

  # test-browserstack:
  #   name: Browserstack Tests
  #   needs: [lint]
  #   runs-on: [ubuntu-latest]
  #   timeout-minutes: 10

  #   if: github.event_name == 'push'

  #   env:
  #     BROWSERSTACK_USERNAME: caluma1
  #     BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}

  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version: ${{ env.NODE_VERSION }}

  #     - name: Get yarn cache directory path
  #       id: yarn-cache
  #       run: echo "::set-output name=dir::$(yarn cache dir)"

  #     - uses: actions/cache@v3
  #       with:
  #         path: ${{ steps.yarn-cache.outputs.dir }}
  #         key: yarn-${{ hashFiles('yarn.lock') }}
  #         restore-keys: |
  #           yarn-

  #     - name: Install dependencies
  #       run: yarn install

  #     - name: Connect to Browserstack
  #       run: yarn ember browserstack:connect

  #     - name: Run tests
  #       run: yarn test:browserstack
  #       env:
  #         CI_JOB_ID: ${{ job.container.id }}
  #         BROWSERSTACK_LOCAL_IDENTIFIER: ${{ job.container.id }}

  #     - name: Collect test results
  #       run: yarn ember browserstack:results

  #     - name: Disconnect from Browserstack
  #       run: yarn ember browserstack:disconnect

  test-compatibility:
    name: Compatibility Tests
    needs: [lint]
    runs-on: [ubuntu-latest]
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        workspace:
          - "@projectcaluma/ember-analytics"
          - "@projectcaluma/ember-core"
          - "@projectcaluma/ember-distribution"
          - "@projectcaluma/ember-form"
          - "@projectcaluma/ember-form-builder"
          - "@projectcaluma/ember-testing"
          - "@projectcaluma/ember-workflow"
        scenario:
          - ember-lts-3.28
          - ember-release

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Get yarn cache directory path
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn-

      - name: Install dependencies
        run: yarn install

      - uses: actions/cache@v3
        with:
          path: |
            ${{ steps.yarn-cache.outputs.dir }}
            package
            yarn.lock
          key: yarn-${{ matrix.scenario }}-${{ hashFiles('yarn.lock') }} }}
          restore-keys: |
            yarn-${{ matrix.scenario }}-
            yarn-

      - name: Run tests
        run: yarn workspace ${{ matrix.workspace }} ember try:one ${{ matrix.scenario }} --skip-cleanup
